<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.png' %>
  </head>

  <body class="body">

    <div class="navbar">
      <ul>
        <li class="region">
          <a href="toscane.html">Toscane</a>
          <ul class="villes">
            <li><a href="">Firenze</a></li>
            <li><a href="">Siena</a></li>
          </ul>
        </li>
        <li class="region">
          <a href="">Veneto</a>
          <ul class="villes">
            <li><a href="">Venise</a></li>
          </ul>
        </li>
        <li class="region">
          <a href="">Emilia Romagna</a>
           <ul class="villes">
            <li><a href="">Bologne</a></li>
            <li><a href="">Siena</a></li>
           </ul>
         </li>
        <li class="region">
          <a href="">Lazio</a>
           <ul class="villes">
            <li><a href="">Rome</a></li>
          </ul>
        </li>
        <li class="region">
          <a href="">Lombardia</a>
           <ul class="villes">
            <li><a href="">Milan</a></li>
            <li><a href="">Bergame</a></li>
            <li><a href="">Mantoue</a></li>
          </ul>
        </li>
        <li class="region">
          <a href="">Lac italiens</a>
           <ul class="villes">
            <li><a href="">Lago de Como</a></li>
            <li><a href="">Lago Magiore </a></li>
          </ul>
        </li>
        <li class="region">
          <a href="">Appuglia</a>
           <ul class="villes">
            <li><a href="">Polignano a Mare</a></li>
            <li><a href="">Monopoli</a></li>
            <li><a href="">Lecce</a></li>
          </ul>
        </li>
        <li class="region">
          <a href="">Piemonte</a>
           <ul class="villes">
            <li><a href="">Torino</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <%= yield %>

  </body>

</html>
